{%extends 'base.html'%}
{%load static%}

    {%block css%}<link href="{%static 'css/index.css'%}" rel="stylesheet">{%endblock%}


{%block content%}
    <section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mt-5">Store</h1>
                <p>
                    {% if quar %}
                    if ishladi
                    {%else%}y
                    else ishladi
                    {%endif%}
                    Yangi imijlar va do'konning eng yaxshi brendlar.
                    Butun dunyo bo'ylab bepul dostavka! Bizda faqat sifatli konstavarlar boladi.
                </p>
                <button id="start-purchase-btn" type="button" class="btn btn-lg">
                    <a id="start-purchase-link" href="{%url 'products:product'%}">
                        Xarid boshlash
                    </a>
                </button>
            </div>
        </div>
    </div>
</section>
{%endblock%}